@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #141414; /* Warna Hitam Khas Netflix */
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar biar elegan */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #141414; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}